@font-face {
  font-family: UTM;
  src: url(../css/font/UTM\ Bebas.ttf);
}
@font-face {
  font-family: Cubano;
  src: url(../css/font/iCielBCCubano-Normal.otf);
}
.text{
  height: 200px;
    width: 600px;
    background-color: blueviolet;
    text-align: center;
    margin: 0 auto;
   
}
.html-text{
    color: #fff;
    padding: 20px;
    font-family: UTM;
    font-size: 18px;
   
   
}
.modify{
  font-family: Cubano;
  color: rgb(0, 0, 0);
 


}
