@font-face {
  font-family: UTM;
  src: url(./font/UTM\ Bebas.ttf);
}
@font-face {
  font-family: Cubano;
  src: url(../css/font/iCielBCCubano-Normal.otf);
}
.text{
  height: 200px;
    width: 600px;
    background-color: rgb(71, 10, 128);
    text-align: center;
    margin: 0 auto;
   
}
.html-text{
    color: #fff;
    padding: 20px;
    font-size: 18px;     
}
.modify{
  font-family: Cubano;
  color: rgb(255, 255, 255);
}
