*{
    padding:0;
    margin: 0;
}

.box{
    height:100px;
    width: 200px;
    background-color: green;  
    text-align: center;
    line-height: 100px;
    position:absolute;
}
.box-top-left{
    left: 0;
    top: 0;
}
.box-top-center{
    left: 50%;
    top: 0;
   
    transform: translateX(-50%);
}
.box-top-right{
    right: 0;
    top: 0;
}
.box-left-center{
    left: 0;
    top: 50%; 
  
    transform: translateY(-50%);
}
.box-right-center{
    right: 0;
    top: 50%; 
  
    transform: translateY(-50%);
}
.box-bottom-left{
    bottom: 0;
    left: 0;
}
.box-bottom-center{
    bottom: 0;
    left: 50%;
  transform: translateX(-50%);
}
.box-bottom-right{
    bottom: 0;
    right: 0;
  
}
.box-center-center{
    top: 50%;
    left: 50%;
   transform: translate(-50%,-50%);
   
}
.box-small{
    background-color: red;
    height: 50px;
    width: 100px;
    line-height: 50px;
    position: absolute;
}
.box-red-top-left{
    top: 0;
    left: 0;
   transform: translate(-100%,-100%);  
}
.box-red-top-right{
    top: 0;
    right: 0;
   transform: translate(100%,-100%);   
}
.box-red-bottom-right{
    bottom: 0;
    right: 0;
   transform: translate(100%,100%);    
}
.box-red-bottom-left{
    bottom: 0;
    left: 0;
   transform: translate(-100%,100%); 
}



