body {
    font-family: "Trirong", serif;
  }

.html__text{
    color: rgb(0, 0, 0);
    padding: 10px;
    background-color: blueviolet;
    height: 200px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
