*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.header{
    margin: 20px 0;
}
.nav{

}
.nav__list{
    list-style: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    
}
.nav__list-item{
    display: inline-block;
    margin:20px 100px;
   
}
.nav__item-link{
    
}

/* Page layout */

.page-layout{
    font-size: 0;
    padding: 20px 0;
    border-bottom: 1px dotted #000;
}
.page-layout__together,.page-layout__second{
    display: inline-block;
}
.page-layout__together{
    font-size: 16px;
    width: 20%;
    vertical-align: text-top;
    padding-left: 40px;
    text-align: left;
}
.page-layout__together .first-img
{
   height: 60px;
   width: 100px;
   
}
.page-layout__together .first-list{
padding-top: 10px;
}
.page-layout__second{
    font-size: 16px;
    width: 60%;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    vertical-align: text-top;

}
.page-layout__second .second-header{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.page-layout__second .second-content{
    padding: 20px;
    text-align: justify
}
.footer{
    margin-top: 20px;
}