*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(234, 234, 234);
}

.form-submit{
    margin-top: 50px;
    margin: 50px auto;
    width: 450px;
    text-align: center;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header{
    background-color: #1d1e54;
    height: 100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
}
.header__heading{
    line-height: 100px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
.header__close{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgba(199, 199, 199, 0.1);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;

}
.header__close-icon{
    color: #ffffff;
    opacity: 1;
    font-size: 16px;
    font-weight: bold;
}
form{
    text-align: left;
   padding: 40px 60px;
    
}
.form__input{
    display: block;
    width: 100%;
    border: 0px solid;
    border-bottom: 1px solid #000;
    outline: none;
    padding: 10px 0;
    margin-bottom: 10px;
}

.row{
    position: relative;
}
.form__input-icon{
    position: absolute;
   bottom: 10px;
   right: 0;
}
.submit{
    padding-bottom: 40px;
    text-align: center;
    margin-top: 40px;
}
.btn-submit{
    background-color: #1d1e54;
    padding: 20px 40px;
    color: #ffffff;
    border-radius: 30px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 700;
    cursor: pointer;
}